<div class="k-habit-list">

    @if (habitsByPeriod.length > 0) {

        <header class="h-list__header">
            <h1 class="h-list__greeting">{{ greeting }},
                <br><em class="h-list__greeting-sub">let's keep going.</em>
            </h1>

            <button class="h-list__new-btn" (click)="goToNewHabit()">
                <span class="k-icon material-symbols-outlined">add</span>
                <span>New Habit</span>
            </button>
        </header>

        <main>
            @for (habitGroup of habitsByPeriod; track habitGroup.period) {
                <div class="h-list__group">
                    <div class="h-list__group-header">
                        <span class="h-list__group-label">{{ habitGroup.label }}</span>
                        <div class="h-list__group-line"></div>
                    </div>
                    @for (habit of habitGroup.habits; track habit.id) {
                        <k-habit-card
                                [selectedDate]="selectedDate"
                                [habit]="habit"
                                [isDropdownOpen]="openDropdownId === habit.id"
                                (habitUpdated)="loadHabits(selectedDate)"
                                (habitDeleted)="deleteHabit($event)"
                                (dropdownToggled)="toggleDropdown($event)"
                        >
                        </k-habit-card>
                    }
                </div>
            }
        </main>

    } @else {
        <main>
            <div class="h-list__empty">
                <p>No habits yet.</p>
                <a routerLink="/new-habit">Create your first one →</a>
            </div>
        </main>
    }
</div>