.k-layout {
    display: grid;
    grid-template-columns: 170px 1fr 280px;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
            "topbar topbar topbar"
            "left center right";
    min-height: 100vh;
}

.k-center {
    grid-area: center;
}