<nav class="k-left-sidebar">
    <div class="k-label k-left-sidebar__group-label">views</div>
    <a class="k-left-sidebar__item" routerLink="/habits" routerLinkActive="k-left-sidebar__item--active">
        <span class="k-icon material-symbols-outlined">calendar_today</span>
        <span class="k-left-sidebar__item-label">Today</span>
    </a>
    <div class="k-label k-left-sidebar__group-label">account</div>
    <a class="k-left-sidebar__item">
        <span class="k-icon material-symbols-outlined">settings</span>
        <span class="k-left-sidebar__item-label">Settings</span>
    </a>
</nav>
