:host {
    grid-area: left;
    border-right: 0.5px solid var(--border);
    padding: 20px 12px;
}

.k-left-sidebar {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.k-left-sidebar__group-label {
    margin: 12px 0 6px
}

.k-left-sidebar__group-label:first-child {
    margin-top: 0;
}

.k-left-sidebar__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    border-radius: 6px;
    font-size: var(--text-xs);
    color: var(--text-muted);
}

.k-left-sidebar__item:hover {
    background: var(--surface);
    color: var(--text-secondary);
}

.k-left-sidebar__item--active, .k-left-sidebar__item--active:hover  {
    background: var(--surface-accent);
    color: var(--accent);
}

@media (max-width: 599px) {
    :host {
        display: none;
    }
}