:host {
    grid-area: left;
    border-right: 0.5px solid var(--border);
    padding: 20px 12px;
    box-shadow: var(--shadow-right);
}

.k-left-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.k-left-sidebar__item[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    color: var(--accent-second);
    box-shadow: var(--shadow-right);
    /* background-color: var(--surface-accent-second); */
    position: absolute;
    top: calc(100% + 20px);
    right: calc(100% - 100px);
    padding: 4px 8px;
    border-radius: 6px;
    border: 0.5px solid var(--accent-second);
    font-size: var(--text-xxs);
    white-space: nowrap;
    animation: tooltipIn 0.2s ease forwards, tooltipGlow 2s ease-in-out infinite;
}

@keyframes tooltipIn {
    from { opacity: 0; transform: translateY(-50%) translateX(-4px); }
    to   { opacity: 1; transform: translateY(-50%) translateX(0); }
}

/*@keyframes tooltipGlow {*/
/*    0%   {*/
/*        border-color: var(--accent-second);*/
/*        text-shadow: 0 0 6px rgba(107, 255, 255, 0.3);*/
/*        color: var(--accent-second);*/
/*    }*/
/*    50%  {*/
/*        border-color: rgba(107, 255, 255, 0.4);*/
/*        text-shadow: 0 0 8px rgba(107, 255, 255, 0.4);*/
/*        color: rgba(107, 255, 255, 0.6);*/
/*    }*/
/*    100% {*/
/*        border-color: var(--accent-second);*/
/*        text-shadow: 0 0 6px rgba(107, 255, 255, 0.3);*/
/*        color: var(--accent-second);*/
/*    }*/
/*}*/




.k-left-sidebar__group-label {
    margin: 12px 0 6px
}

.k-left-sidebar__group-label:first-child {
    margin-top: 0;
}

.k-left-sidebar__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    border-radius: 6px;
    font-size: var(--text-xs);
    color: var(--text-muted);
}

.k-left-sidebar__item:hover {
    background: var(--surface);
    color: var(--text-secondary);
}

.k-left-sidebar__item--active, .k-left-sidebar__item--active:hover  {
    background: var(--surface-accent);
    color: var(--accent);
}

@media (max-width: 599px) {
    :host {
        display: none;
    }
}