<div class="login__card">
    <div class="login__header">
        <div class="login__wordmark">Konslo</div>
        <h2 class="login__title">Sign in</h2>
    </div>


    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="login__form-group">
            <label class="login__form-label" for="username">username</label>
            <input class="login__form-input"
                   id="username"
                   formControlName="username"
                   type="text"
                   autocomplete="off"
                   spellcheck="false"
            >
        </div>

        <div class="login__form-group">
            <label class="login__form-label" for="password">password</label>
            <input class="login__form-input"
                   id="password"
                   formControlName="password"
                   type="password"
                   autocomplete="off"
                   spellcheck="false"
            >
        </div>

        <div class="login__form-error-slot">
            @if (areCredentialsWrong) {
                <div class="login__form-error">Incorrect username or password</div>
            }
        </div>

        <div class="login__form-actions">
            <button class="login__form-actions-sign-in" type="submit" [disabled]="isLoading">Sign in</button>
        </div>

        <div class="login__form-footer">No account? <a routerLink="/register">Create one</a></div>

    </form>
</div>

<button class="button-demo" (click)="onDemoLogin()" type="button" [disabled]="isLoading">>> DEMO <<</button>