<div class="k-calendar">

    <div class="k-calendar__header">
        <div class="k-calendar__header-month">{{ monthLabel }} {{ selectedYear }}</div>
        <div class="k-calendar__header-actions">
            <button class="k-calendar__header-actions__nav-btn" (click)="goToMonth(-1)"><span
                    class="k-icon material-symbols-outlined">chevron_left</span></button>
            <button class="k-calendar__header-actions__nav-btn" (click)="goToMonth(1)"><span
                    class="k-icon material-symbols-outlined">chevron_right</span></button>
        </div>
    </div>

    <div class="k-calendar__grid">
        <!-- labels -->
        <div class="k-calendar__grid-label-cell">M</div>
        <div class="k-calendar__grid-label-cell">T</div>
        <div class="k-calendar__grid-label-cell">W</div>
        <div class="k-calendar__grid-label-cell">T</div>
        <div class="k-calendar__grid-label-cell">F</div>
        <div class="k-calendar__grid-label-cell">S</div>
        <div class="k-calendar__grid-label-cell">S</div>

        @for (day of days; track $index) {
            <div class="k-calendar__grid-day-cell"
                 [class.k-calendar__grid-day-cell--today]="day.isToday"
                 [class.k-calendar__grid-day-cell--selected]="day.isSelectedDay"
                 (click)="onDayClick(day)"
            >
                @if (day.isSelectedMonth) {
                    <div class="k-calendar__grid-day-cell-date"
                         [class.k-calendar__grid-day-cell-date--today]="day.isToday">
                        {{ day.date }}
                    </div>
                    <div class="k-calendar__grid-day-cell-dot"
                         [class.k-calendar__grid-day-cell-dot--activity]="day.hasActivity"
                         [class.k-calendar__grid-day-cell-dot--today]="day.isToday">
                    </div>
                } @else {
                    <div class="k-calendar__grid-day-cell-date k-calendar__grid-day-cell-date--muted">
                        {{ day.date }}
                    </div>
                }
            </div>
        }
    </div>
</div>


<!---->
<!--style: pad_day-->
<!--style: this_month other_day noActivity -->
<!--style: this_month other_day yesActivity -->
<!--style: this_month selected_day noActivity-->
<!--style: this_month selected_day yesActivity-->

<!---->
<!--for each:-->
<!--:hover-->
<!--+-->
<!--:active-->
<!--and also; we might want a special style for the current day when it's not the one active-->